<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Social Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id="search-app">
        <div class=" main-container container">
            
                <div v-model="favoriteList" v-for="(field) in jobs" class="row section-job">
                    <ul class=" joCol col-12">
                        <li>{{field.id}}</li>
                        <li>{{field.position}}</li>
                        <li>{{field.description}}</li>
                        <li>{{field.created_at}}</li>
                        <li>{{field.logo}}</li>
                        <li>{{field.city}}</li>
                        <li>{{field.contract}}</li>
                    </ul>
                    <div class="star-item col-2">
                        <i class="fas fa-star" @click="addFavorite" ></i>
                    </div>                    
                </div>
                
            
            
        </div>

        <div class="container">

        </div>
        

    </div>

    <script src="js/script.js"></script>
</body>
</html>